<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Breeze Uploader</title>

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon">

<!-- CSS-->
<!-- Google web fonts. You can get your own bundle at http://www.google.com/fonts. Don't forget to update the CSS accordingly!-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="js/flexslider/flexslider.css">
<link rel="stylesheet" href="css/colorblocks-style.css">
<link rel="stylesheet" type="text/css" href="css/index.css" />
<!-- end CSS-->
    
<!-- JS-->
<script src="js/libs/modernizr-2.6.2.min.js"></script>
<!-- end JS-->

</head>

<body id="home">

  
<!-- header area -->
    <header class="wrapper clearfix">
	<nav id="topnav" role="navigation">

		  <div class="menu-toggle">Beta v1.9</div> 
		</nav> 
        <div id="banner">        
        	<div id="logo" style="padding-top=10px"><a href="home.html"><img src="img/logo-shadowpact.gif" alt="logo" ></a></div> 
        </div>
      
  
    </header><!-- end header -->  
        <!-- main navigation -->
       
 
 
<!-- hero area (the grey one with a slider -->
    <section id="page-header" class="clearfix">    
   
    <div class="wrapper">
      <h2>Scene7 Image Uploader</h2>
    </div>
    </section><!-- end hero area -->





<!-- main content area -->   
   
<div id="main" class="wrapper clearfix">    

    <!-- sidebar -->    
    <div class="div-menu">
        
            
                        <button class="current menu-button" ><a class="anchor-button" href="uploadToken.html">Generate Upload Token</a></button>
                        <button class="current menu-button" ><a class="anchor-button" href="uploadForm.html">Upload Image</a></button>
                        <!--<li><a href="#">menu item</a></li>
                        <li><a href="#">menu item</a></li>
                        <li><a href="#">menu item</a></li> -->
                  
            
      </div><!-- #end sidebar -->
    
    
    
</div><!-- #end div #main .wrapper -->





<!-- footer area -->    
<footer>
	<div id="colophon" class="wrapper clearfix">
    	Copyright
    </div>
    
    
    
</footer><!-- #end footer area --> 


<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>

<script defer src="js/flexslider/jquery.flexslider-min.js"></script>

<!-- fire ups - read this file!  -->   
<script src="js/main.js"></script>

</body>
</html>
