<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Breeze Uploader</title>

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon">

<!-- CSS-->
<!-- Google web fonts. You can get your own bundle at http://www.google.com/fonts. Don't forget to update the CSS accordingly!-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="js/flexslider/flexslider.css">
<link rel="stylesheet" href="css/colorblocks-style.css">
<link rel="stylesheet" type="text/css" href="css/index.css" />
<!-- end CSS-->
    
<!-- JS-->
<script src="js/libs/modernizr-2.6.2.min.js"></script>
<!-- end JS-->

</head>

<body id="home">

  
<!-- header area -->
    <header class="wrapper clearfix">
	<nav id="topnav" role="navigation">

		  <div class="menu-toggle">Beta v1.9</div> 
		</nav> 
        <div id="banner">        
        	<div id="logo" style="padding-top=10px"><a href="index.html"><img src="img/logo-shadowpact.gif" alt="logo" ></a></div> 
        </div>
      
  
    </header><!-- end header -->  
        <!-- main navigation -->
       
 
 
<!-- hero area (the grey one with a slider -->
    <section id="page-header" class="clearfix">    
   
    <div class="wrapper">
      <h2>Scene7 Image Uploader</h2>
    </div>
    </section><!-- end hero area -->





<!-- main content area -->   
   
<div id="main" class="wrapper clearfix">    

    <!-- sidebar -->    
    <div class="div-menu" style="height:230px">
        
            
       <form method="POST" enctype="multipart/form-data" name="image_upload" id="image_upload" onSubmit="return uploadImage();">
			<table class="current">				
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td><strong>Company</strong></td><td>
					<input type="text" value = "mandstest" size="15" name="company_name">
					</td>
				</tr>
				<tr>
					<td><strong>Token</strong></td><td>
					<input type="text" size="15" name="upload_token">
					</td>
				</tr>
				<tr>
					<td><strong>File Size Limit (bytes)</strong></td><td>
					<input type="text" size="15" value= "2000" name="file_limit"></td>
				</tr>
				<tr>
					<td><strong></strong></td><td>
					<input type="hidden" value="JPG" size="15" name="file_exts">
					</td>
				</tr>
				<!--<tr>
					<td><strong> Preserve Color Profile</strong></td><td>
					<input type="radio"  name="preserve_colorprofile" value="true">
					Yes&nbsp;&nbsp;
					<input type="radio"  name="preserve_colorprofile" value="false" checked>
					No</td>
				</tr>
				<tr>
					<td><strong> Preserve File Name</strong></td><td>
					<input type="radio"  name="preserve_filename" value="true">
					Yes&nbsp;&nbsp;
					<input type="radio"  name="preserve_filename" value="false" checked>
					No</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr display="none">
					<td><strong> Knockout Background</strong></td><td>
					<input type="radio"  name="knockout_background" value="true">
					Yes&nbsp;&nbsp;
					<input type="radio"  name="knockout_background" value="false" checked>
					No</td>
				</tr>
				<!--<tr>
					<td><strong> Corner</strong></td><td>
					<input type="radio"  name="corner" value="ul" checked>
					upperLeft&nbsp;&nbsp;
					<input type="radio"  name="corner" value="ll">
					lowerLeft&nbsp;&nbsp;
					<input type="radio"  name="corner" value="ur">
					upperRight&nbsp;&nbsp;
					<input type="radio"  name="corner" value="ur">
					lowerRight</td>
				</tr>-->
				<tr>
					<td><strong> Tolerance</strong></td><td>
					<input type="text" size="5" name="tolerance">
					&nbsp;(between 0 and 1)</td>
				</tr>
				<!--<tr style="display=none">
					<td><strong> Fill Method</strong></td><td>
					<input type="radio"  name="fill_method" value="ff" checked>
					Flood Fill&nbsp;&nbsp;
					<input type="radio"  name="fill_method" value="mp">
					Match Pixel</td> 
				</tr>-->
				
				<tr>
					<td><strong>File: </strong></td>
					<td>
					<input name="filename" type="file" id="filename" size="58" maxlength="1024" />
					</td> 
					
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td><strong></strong></td>
					<td>
					<input type="submit" value="Submit" class="menu-button--small ;align:center">
					</td>
				</tr>
			</table>
		</form>
		
		 </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
		<script language="javascript">
			function uploadImage() {
	

				document.image_upload.action = "https://s7ugc3.scene7.com/ugc/image?op=upload&company_name=" + document.image_upload.company_name.value + 
												"&upload_token=" + document.image_upload.upload_token.value + 
												"&file_limit=" + document.image_upload.file_limit.value + 
												"&file_exts=" + document.image_upload.file_exts.value + 
												"&preserve_colorprofile=Yes" + 
												"&preserve_filename=Yes&use_corner=ul&knockout_background=false&fill_method=ff";
				
				
				
				return true;
			}
		</script>                
                  
            
      </div><!-- #end sidebar -->
    
    
    
</div><!-- #end div #main .wrapper -->





<!-- footer area -->    
<footer>
	<div id="colophon" class="wrapper clearfix">
    	Copyright
    </div>
    
   
</footer><!-- #end footer area --> 


<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>

<script defer src="js/flexslider/jquery.flexslider-min.js"></script>

<!-- fire ups - read this file!  -->   
<script src="js/main.js"></script>

</body>
</html>